
html,body {
   margin:0;
   padding:0;
   height:100%;
}


.page_container {
   min-height:100%;
   position:relative;

}

.header{
    padding:5px;
}

.django_content {
    padding:5px;
   padding-bottom:65px;   /* Height of the footer */
}

/*Values here are hard coded for now, but should be automatically changed based
on bootstrap theme*/
.footer
{
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;   /* Height of the footer */
    background:#6cf;
    background-color: #080808;

}

.footer li
{
    color: #BABABA;
    text-align: center;
}
.footer ul
{
    list-style-type: none;
    padding:0; 
    margin:0;
}

