
<!DOCTYPE html>
<html lang = "en">
<head>
<meta charset="utf-8"> 
<!--add twitter bootstrap style sheet-->
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen"></link>
<script type = "text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>  
<script type = "text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>  
{% block head%}
{% endblock %}  
</head>

<body>

<div class="navbar">  
    <div class="navbar-inner">  
        <div class="container">  
            <ul class="nav"> 
                <li><a href="/" class = "brand"> Blade </a> </li> 
                {% if user.is_authenticated %}
                <li><a href= "/main/"> View Resturant </a></li>
                <li class = "dropdown">
                    <a role="button" class="dropdown-toggle" data-toggle="dropdown"> Inventory<b class="caret"></b> </a>
                    <ul class ="dropdown-menu">
                        <li><a href= "/inventory/view"> View Ingredients</a></li>
                        <li><a href= "/inventory/add"> Add Ingredient</a></li>
                    </ul> 
                </li>
                <li class = "dropdown">
                    <a role="button" class="dropdown-toggle" data-toggle="dropdown"> Recipes<b class="caret"></b> </a>
                    <ul class ="dropdown-menu">
                        <li><a href= "/recipes/view"> View Recipes </a></li>
                        <li><a href= "/recipes/add"> Add Recipe</a></li>
                    </ul> 
                </li>
                {% endif %}
                
            </ul>

            <ul class ="nav pull-right">
                {% if user.is_authenticated %}
                <li><a href= "/logout/"> Logout </a></li>
                {% else %}
                <li><a href= "/login/"> Login </a></li> 
                <li><a href= "/register/"> Register </a> </li>
                {% endif %}
            </ul>

        </div>  
    </div>  
</div>   


{% block content%}
{% endblock %}

</body>
</html>