
{% extends "base.html" %}
{% block content%}
<h1>Ingredients</h1>
<h2>{{resturant_name}}</h2></br>

<a href="/main/">Back To Home</a></br>
<a href="../add">Add ingredient</a>
{% if errors %}
	{{errors}}
{% endif %}

<h3>Quick-add</h3>
<form method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" name="quickadd" />
</form>



<!--Create a form for the check boxes to delete ingredients-->
<form method="post">{% csrf_token %}

{% load render_table from django_tables2 %}
{% render_table ing_table %}


<input type="submit" value="Delete Selected" name="delete_button">
</form>


{% endblock %}