
{% extends "base.html" %}
{% block content%}
<h1>Ingredients</h1>
<h2>{{resturant_name}}</h2></br>

<a href="/main/">Back To Home</a></br>
<a href="../add">Add ingredient</a>
{% if errors %}
	{{errors}}
{% endif %}

<h3>Quick-add</h3>
<form method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" name="quickadd" />
</form>



<!--Create a form for the check boxes to delete ingredients-->
<form method="post">{% csrf_token %}

<table class ="table table-striped">
<thead>
	<tr>
	<td>Ingredient</td>
	<td>Quantity</td>
	<td>Unit</td>
	<td>Cost / Unit</td>
	<td>Date Last Changed</td>
	<td>Delete?</td>
	</tr>
</thead>
<tbody>
{% for ing in ingredients %}
    <tr>
		<td>{{ing.name}}</td>
		<td>{{ing.amount}}</td>
		<td>{{ing.unit.name}}</td>
		<td>{{ing.cost_per_unit}}</td>
		<td>{{ing.date_modified}}</td>
		<td><input type="checkbox" name="delete_ingredient" value={{ing.id}}></td>
	</tr>
{% endfor %}
</tbody>
</table>
<input type="submit" value="Delete" name="delete">
</form>

{% endblock %}