<h1>Ingredients</h1>
<h2>{{resturant_name}}</h2></br>

<a href="/main/">Back To Home</a></br>
<a href="../add">Add ingredient</a>
{% if errors %}
	{{errors}}
{% endif %}

<h3>Quick-add</h3>
<form method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>



<table border = "1">
	<tr>
	<td>Ingredient</td>
	<td>Quantity</td>
	<td>Unit</td>
	<td>Cost / Unit</td>
	<td>Date Last Changed</td>
	</tr>
{% for name,amt,unit,cost,date in ingredients %}
    <tr>
		<td>{{name}}</td>
		<td>{{amt}}</td>
		<td>{{unit}}</td>
		<td>{{cost}}</td>
		<td>{{date}}</td>

	</tr>
{% endfor %}
	
</table>