
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
<script>
number_of_rows = 1;
</script>

</head>
<body>
<h1>Recipes</h1>
<h2>{{resturant_name}}</h2></br>

<a href="/main/">Back To Home</a>

{% if errors %}
	{{errors}}
{% endif %}


<form method="post">{% csrf_token %}
<table>
{{ recipeform.as_table }}
</table>

{{ ingredientform.management_form }}
<table id = "ing_table">
    <tr>
        <td>Ingredient</td><td>Amount</td><td>Unit</td>
    </tr>
    
    {% for form in ingredientform%}
    <tr id = "form_row", class="form_row">
        {% for boundfield in form%}
            <td>{{boundfield}}</td>
        {%endfor%}
        <td>{{form.errors}}</td>
    </tr>
    {%endfor%}

</table>
<input type="button" value="Add Ingredient" onclick="add_row();" />
<input type="button" value="Remove Ingredient" onclick="remove_row();"/>
<br/>
<input type="submit" value="Submit" />

</form>



<ul>
{% for recipe in recipes %}
    <li>{{recipe}}</li>
{% endfor %}
</ul>

<script>
<!-- Add another row to the recipies-->
function add_row()
{
    //get the total number of forms
    var formCount = parseInt($('#id_form-TOTAL_FORMS').val());

    //clone the table row that the form is contained it
    var $form_row_clone = $("#form_row").clone();

    //get all of the input fields in the new row
    var $input_fields = $form_row_clone.find("input,select");

    //for each of the input fields add the row number to the id
    $input_fields.each(function(){
       $(this).attr("id", $(this).attr("id").replace(0,formCount));
       $(this).attr("name", $(this).attr("name").replace(0,formCount));
    });

    //also change the id of the form_row because it is bad practice to have duplicate ids
    $form_row_clone.attr("id", $form_row_clone.attr("id")+formCount);

    //increment the number of forms 
    $('#id_form-TOTAL_FORMS').val(formCount + 1);
    var formCount = parseInt($('#id_form-TOTAL_FORMS').val());
    //add the cloned table row to the table
    $("#ing_table").append($form_row_clone);
}

function remove_row()
{
    //get the total number of forms
    var formCount = parseInt($('#id_form-TOTAL_FORMS').val());
    
    //only remove rows when there is more than one left
    if(formCount > 1)
    {
        //clone the table row that the form is contained it
        var $form_row = $("#form_row"+(formCount-1));
        $form_row.remove();
        
        //increment the number of forms 
        $('#id_form-TOTAL_FORMS').val(formCount-1);
    }
}


//reset the number of forms when the doument is started
//this is hacky and should stay around
$(document).ready(function(){
    var num_of_rows = $('.form_row').length;  
    $('#id_form-TOTAL_FORMS').val(num_of_rows);
});

</script>
 	
</body>