<html>

<head>
</head>

<body>

    <h1>{{restaurant_name}}</h1>

    <h2>{{recipe.name}}<h3>



    <table>
        <tr>
            <td> Ingredient </td>
            <td> Amount </td>
            <td>Cost  </td>
            <td> Cost per unit</td>
        </tr>
        {%for ingredient in ingredients%}
        <tr>
            <td>{{ingredient.amount}} {{ingredient.unit.abbv}}</td>
            <td>{{ingredient.ingredient}}</td>
            <td>{{ingredient.get_cost}}</td>
            <td>@ {{ingredient.get_cost_per_unit}}/
                  {{ingredient.unit.abbv}}</td>
        </tr>
        {%endfor%}
        <tr>
            <td></td>
            <td>Total: </td>
            <td>{{recipe.get_cost}}</td>
        </tr>
    </table>

    <p>{{recipe.instruction}}</p>

</body>

</html>