{% load staticfiles%}
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8"> 
    <!--add twitter bootstrap style sheet-->
    <link href={% static "bootstrap/css/bootstrap.css" %} rel="stylesheet" media="screen"></link>
    <link href={% static "css/blade.css" %} rel="stylesheet" media="screen"></link>
    <script type = "text/javascript" src={% static "script/jquery-1.10.1.js" %}></script>  
    <script type = "text/javascript" src={% static "bootstrap/js/bootstrap.js" %}></script>  
    {% block head%}
    {% endblock %}  
</head>

<body>
<div class="page_container">

<div class="header">
<h1><a href="/" class = "brand"> Blade</a></h1> 
<div class="navbar">  
    <div class="navbar-inner">  
        <div class="container">  
            <ul class="nav"> 
                {% if user.is_authenticated %}
                <li><a href= "/main/"> Dashboard </a></li>
                <li class = "dropdown">
                    <a role="button" class="dropdown-toggle" data-toggle="dropdown"> Inventory<b class="caret"></b> </a>
                    <ul class ="dropdown-menu">
                        <li><a href= "/inventory/view"> View Ingredients</a></li>
                        <li><a href= "/inventory/add"> Add Ingredient</a></li>
                    </ul> 
                </li>
                <li class = "dropdown">
                    <a role="button" class="dropdown-toggle" data-toggle="dropdown"> Recipes<b class="caret"></b> </a>
                    <ul class ="dropdown-menu">
                        <li><a href= "/recipes/view"> View Recipes </a></li>
                        <li><a href= "/recipes/add"> Add Recipes</a></li>
                    </ul> 
                </li>
                <li class = "dropdown">
                    <a role="button" class="dropdown-toggle" data-toggle="dropdown"> Service<b class="caret"></b> </a>
                    <ul class ="dropdown-menu">
                        <li><a href= "/service/serve"> Serve Recipes</a></li>
                        <li><a href= "/service/view_service"> View Service</a></li>
                    </ul> 
                </li>
                {% endif %}
                
            </ul>

            <ul class ="nav pull-right">
                {% if user.is_authenticated %}
                <li><p class="navbar-text">Logged in as: {{user.username}}</p></li>
                <li><a href= "/logout/"> Logout </a></li>
                {% else %}
                <li><a href= "/login/"> Login </a></li> 
                <li><a href= "/register/"> Register </a> </li>
                {% endif %}
            </ul>

        </div>  
    </div>  
</div> 
</div>



<div class= "django_content">
{% block content%}
{% endblock %}
</div>


<footer class="footer">
    <div id='content' class='row-fluid'>
        <div class='span4'>
            <ul>
                <li>Powered by Django</li>
            </ul>
        </div>
        <div class='span4'>
            <ul>
                <li>&copy; Aaron Springut 2013</li>
                <li>Contact: <a href="mailto:aspringut@blade.com"> aspringut@blade.com</a></li>
            </ul>
        </div>
        <div class='span4'>
            <ul>
                <li>Version 0.1</li>
                <li> Polarized Raven Software </li>
            </ul>
        </div>
    </div>
</footer>

</div>

</body>
</html>