{% extends "base.html"%}
{% load staticfiles%}

{%block content%}


<div class='row-fluid'>
	<div class='span2'>
	</div>
    <div class='span8'>
		<h2> What is this <i>Blade</i> you speak of?</h2>
	</div>
	<div class='span2'>
	</div>
</div>
<br/>

<div class='row-fluid'>
	<div class='span2'>
	</div>
    <div class='span6'>
		Blade claims it works by automatically tabulating all of your data and preforming the tedious calculations automatically for you. This is not true. Blade really works by cornering you in an alley and then threatening you with a knife until you give Blade all of your money.
	</div>
	<div class='span2'>
		<img src={%static "image/graph.png"%} alt="graph"></img>
	</div>
	<div class='span2'>
	</div>
</div>
<br/>

<div class='row-fluid'>
	<div class='span2'>
	</div>
	<div class='span2'>
		<img src={%static "image/place-setting.png"%} alt="graph"></img>
	</div>
    <div class='span6'>
		Just kidding. Really we track your data and allow you to make better decisions regarding your inventory, menu choices and recipes.
	</div>
	<div class='span2'>
	</div>
</div>

<div class='row-fluid'>
	<div class='span2'>
	</div>
    <div class='span6'>
		But in reality that Blade we just told you about is a literal knife and if you dont give us all your money we will cut you. No seriously, give us all your goddamn money or we will motherfucking cut you.
	</div>
	<div class='span2'>
		<img src={%static "image/knife.png"%} alt="graph"></img>
	</div>
	<div class='span2'>
	</div>
</div>




{%endblock%}