{% extends "base.html"%}
{% load staticfiles%}

{%block content%}


<div class='row-fluid'>
	<div class='span2'>
	</div>
    <div class='span8'>
		<h2> What is this <i>Blade</i> you speak of?</h2>
	</div>
	<div class='span2'>
	</div>
</div>
<br/>

<div class='row-fluid'>
	<div class='span2'>
	</div>
    <div class='span6'>
		The Blade inventory managment system aims to make your business more agile and efficient. By automatically tracking your inventory Blade enables you to make better business decisions. With blade you can identify excess inventory in a snap, search for patterns in your customers spending and calculate pricing in a snap.
	</div>
	<div class='span2'>
		<img src={%static "image/graph.png"%} alt="graph"></img>
	</div>
	<div class='span2'>
	</div>
</div>
<br/>

<div class='row-fluid'>
	<div class='span2'>
	</div>
	<div class='span2'>
		<img src={%static "image/place-setting.png"%} alt="place setting"></img>
	</div>
    <div class='span6'>
		Blade is cheap and automates common tasks for you freeing up your time for the more important things. 
	</div>
	<div class='span2'>
	</div>
</div>

<div class='row-fluid'>
	<div class='span2'>
	</div>
    <div class='span6'>
		All of your information at blade is absolutely confidential....
	</div>
	<div class='span2'>
		<img src={%static "image/knife.png"%} alt="knife"></img>
	</div>
	<div class='span2'>
	</div>
</div>




{%endblock%}
