{% extends "base.html" %}


{% block content%}
<h2>{{restaurant_name|title}} Dashboard</h2>
<div id='content' class='row-fluid'>


    <div class='span6'>
        
        <h4>Recently Modified <a href="/inventory/view/">Ingredients</a></h4>
        <ul>
        {% for ingredient in ingredients %}
            <li>{{ingredient|title}} -- {{ingredient.date_modified}}</li>
        {% endfor %}
        </ul>
    </div>
    <div class='span6'>
        <h4>Recently Modified <a href="/recipes/view/">Recipes</a></h4>
        <ul>
        {% for recipe in recipes %}
            <li>{{recipe|title}} -- {{recipe.date_modified}}</li>
        {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}